@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;800&display=swap');



#cover{
    background-color: black;
    z-index: 2;
    width: 0;
    height: 0;
    position: absolute;
    animation:  clear 1s linear ;

}

@keyframes clear{
    0%{
        width: 100vw;
        height: 100vh;
        opacity: 0.8;
    }
    100%{
        width: 100vw;
        height: 100vh;
        opacity: 0;
    }
}


.divLanding{
    background-color: #130218;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.divLanding main{
    width: 100%;
    height: 95vh;
    display: flex;
    padding-bottom: 10vh;
    align-items: center;
}


.divLanding main section{
    /* width: 50%; */
    /* padding: 0px 50px 0 15vh; */
    color: #ecf0f1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divLanding main section h1{
    background-color: #141414;
    font-size: 50px;
    padding: 1vw;
    border-radius: 20px;
    letter-spacing: 3px;
    font-weight: 900;
    font-family: 'Exo 2', sans-serif;
    /* transition: all 2s; */
    position: relative;
    overflow: hidden;
    cursor: grab;
}

.divLanding main section h1::after{
    content: "";
    height: 100%;
    margin-top: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(20deg) translate(-50%,-50%);
    animation: intro 1.3s linear ;
    opacity: 0;
    box-shadow: 0 0 70px 10px rgba(255,220,40,1) , 0 0 80px 10px rgba(255,220,40,1) , 0 0 100px 10px rgba(255,220,40,1);
    animation-delay: 200ms;
}

.divLanding main section h1:hover::before{
    content: "";
    height: 100%;
    margin-top: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(20deg) translate(-50%,-50%);
    animation: intro 1s linear infinite ;
    opacity: 0;
    box-shadow: 0 0 70px 10px rgba(255,220,40,1) , 0 0 80px 10px rgba(255,220,40,1) , 0 0 100px 10px rgba(255,220,40,1);
}   

@keyframes intro {
   0%{
    opacity: 1;
    left: -35%;
   }

   100%{
    opacity: 1;
    left: 130%;
   }
   
}


.divLanding main aside{
    width: 50%;
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.divLanding main section p{
    padding: 6vh 6vw 5vh 10vw;
    letter-spacing: 2px;
    font-weight: 100;
    text-align: start;
    flex-wrap: wrap;
    letter-spacing: 3px;
    font-size: 25px;
    font-weight: 200;
    font-family: 'Exo 2', sans-serif;
}

.CONOCEME{
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: small;
}

.CONOCEME:hover{
    display: inline-block;           /* para que el 'transform scale' funcionen */
    transform: scale(1.2);
}



/* PARA EL RESPOSIVE */


@media screen and (max-width: 500px) {
    .divLanding main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .divLanding main section h1{
        font-size: 12vw;
    }

    .divLanding main section p{
        font-size: 18px;
        text-align: center;
    }

    .divLanding main aside{
        margin-top: 25vh;
        width: auto;
    }
}
