@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');


#loadingContainer{
    height: 85vh;
    width: 100%;
    display: flex;
    position: absolute;    /* para que el paginado se ponga debajo */
    align-items: center;
    justify-content: center;
    overflow: hidden;               /*por si acaso jeje*/
}
.divCardsContainer{
    min-height: 76vh;
    display: flex;
    flex-wrap: wrap;
    padding: 2vh 4vh;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#recetaNoEncontrada{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}





/* RESPONSIVE DESIGN */

