@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@1,100;1,200&family=Roboto+Condensed:ital,wght@1,700&display=swap');

#body{
    margin: 0;
    padding: 0;
    background-color: #1a0321 !important;
    color: white;
    height: 100% ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
     /* font-weight: 200; */

}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    text-align: center;
}

.ring{
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

@keyframes ring {
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }

    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }

    75%{
        transform: rotate(270deg);
        box-shadow: 1px 5px 2px #0456c8;
    }

    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #e65c00;
    }


}

.ring::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, .3);
}

#span{
    color: #1a0321;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 2s  ease-in-out infinite;
}

@keyframes text{
    50%{
        color: #a09b9b;
    }
}