#formContainer form{
    background-color: #1a0321e6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 50px;
    width: 650px;
    border-radius: 30px;
    box-shadow: 0 0 10px #1a0321e6, 0 0 30px #1a0321e6;
    min-height: 95vh;
}

#formContainer form > section {
    width: 100%;
}

#formContainer form >section> div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5vh 0 0 0;
}


#formContainer form h1{
    margin: 1.2vh 0 1.9vh 0;
}




.divsSmallImputs input{
    font-size: 15px;
    padding: 5px;
    width: 65%;
    border-radius: 6px;
}
.divsSmallImputs input::placeholder{
    font-size: 14px;
}

.bigTextContainer{
    flex-direction: column;
}

.bigTextContainer div > label{
    margin-bottom: 1px;
    display: block;
}

.textarea {
    border-radius: 6px;
    padding: 8px 5px;
    width: 100%;
    display: flex;
    font-size: 16.5px;
    height: 8vh;
}

.textarea::placeholder{
    font-size: 15px;
}

#steps{
    margin-top: 3.5vh;
}
#steps textarea{
    height: 10vh;
}

#formContainer section label{
    font-size: 15.5px;
}

#dietsOptions{
    display: flex;
    justify-content: start;
    align-items: start;  
    height: 90px;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px 0;
    overflow: auto;
}

#dietsOptions div{
    margin: 0 8px;
    letter-spacing: 0.8px;
    word-spacing: -.1ch;
}

#dietsOptions div > label{
    cursor: pointer;
}



#sendButton{
    padding: 1vh;
    margin: 1vh;
}


.rangeHealthScore{
    width: 60% !important;
    margin-left: 5%;
    /* appearance: none; */
}



/* section de los WARNING */



.warning{
    border: 2px solid red;
}

.warning:focus-visible{
    outline: none;
}

#formContainer form section > p {
    color: red; 
    margin-left: 38%;
    font-size: 12px;
    height: 14px;
}

.bigTextContainer p{
    color: red; 
    margin-left: 2%;
    font-size: 12px;
    height: 14px;
}





/* RESPONSIVE DESING */

@media screen and (max-width: 500px) and (min-width: 101px) {
    #formContainer form h1{
        text-align: center;
    }
    #formContainer {
        width: 100%;
        min-height: 100vh;
    }
    #formContainer form{
        width: 100%;
        min-height: 100vh;
        border-radius: 0;
    }

    #dietsOptions{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        overflow: visible;
        height: auto;
        margin-bottom: 50px;
    }

    #formContainer form >section> div{
        /* flex-direction: column; */
        display: flex;
        flex-wrap: wrap;
    }
    #formContainer form >section> div>label{
        margin: 15px 0;
        width: 100vw;
        display: block;
        flex: 1
    }

    #formContainer form >section> div>input{
        width: 100vw;
    }

}



@media screen and (max-width: 650px) and (min-width: 501px) {
    #formContainer {
        width: 100%;
        min-height: 100vh;
    }
    #formContainer form{
        width: 100%;
        min-height: 100vh;
        border-radius: 0;
    }

    #dietsOptions{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        overflow: visible;
        height: auto;
        margin-bottom: 50px;
    }

}


@media screen and (max-width: 950px) and (min-width: 851px) {
    #dietsOptions{
        height: 90px;
    }
    #formContainer form{
        margin-bottom: 2.5vh;
    }
}

@media screen and (max-width: 1200px) and (min-width: 951px) {
    #formContainer form{
        margin-bottom: 2.5vh;
    }
}