@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');


#header{
    position: fixed;
    top: 0;
    z-index: 10;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
  /* aca arriba está el código que deberái estar en *{} */

    width: 100%;
    background-color: #1a0321;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    transition: all 0.5s ease-in-out;
}

#header nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.back{
    width: auto;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s;
    color: #eceff1;
    font-size: 16px;
}

.back:hover{
    transform: scale(1.2);
}

#header ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


#header  li{
    display: inline-block;
    padding: 0 20px;
    width: 300px;
}

.link{
    text-decoration: none;
    color: #eceff1;
    transition: all 0.3s;
    font-size: 17px;
    width: auto;
    transition: all 0.3s;
    display: inline-block;
}

.link:hover{
    transform: scale(1.05);
}

.create{
    font-weight: 700;
    width: 100px;
    height: 35px;
    color: white;
    text-decoration: none;
    background-color: #a945c7;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: wiggle 2s linear infinite;
    transition: all 2s;
}



@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-8deg);
    }
    20% {
      transform: rotateZ(8deg);
    }
    25% {
      transform: rotateZ(-8deg);
      transform: scale(1.09);
      
    }
    30% {
      transform: rotateZ(6deg);
      color: #f8d408
    }
    35% {
      transform: rotateZ(-4deg);
      transform: scale(1.1);
    }
    40%, 100% {
      transform: rotateZ(0);
      color: white;
    }
  }


.create:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
    animation: none;
}

#moon{
  background-color: #1a0321;
  /* width: 3.5vw; */
  /* height: 3.5vw; */
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
}

#moon:hover{
  transform: scale(1.2);
}

#moon img{
  width: 3vw;
}


/* RESPOSIVE DESIGN */



@media screen and (max-width: 500px) {

  .header{
    justify-content: space-between;
  }



  #searchBar{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 80%;
    margin-right: 5%;
  }

  #menuContaier{
    background-color: #1a0321;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    transition: all 0.5s ease-out;
    right: 0 ;
    top: 0vh;
    right: -40%;
    height: 20%;
    border-bottom-left-radius: 10px;
    z-index: 100;
    width: 40%;
  }
  .menuStatus{
    right: 0% !important;
  }

  #menuIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    margin-left: 5%;
  }
  #menuIcon img{
    width: 25px;
  }


  #moon{
    margin-bottom: 15%;
  }
  #moon img{
    width: 50px;
  }
/* 
  .hideNavbar{
    top: -10vh !important;       //// POR SI QUIERO OCULTAR AL SCROLEAR HACIA ABAJO
  } */

}




@media screen and (max-width : 749px) and (min-width: 501px) {

  .create{
    width: 80px;
    font-size: 15px;
  }

  .back{
    display: none;
  }

  #moon img{
    width: 5vh;
  }
  #searchBar{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 65%;
  }
 
}
