@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap');


#Filtros{
    z-index: 2;
    position: fixed;
    top: 10vh;
    width: 210px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: all 0.5s ease-out;
    color: rgb(235, 223, 201);
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

#Filtros nav{
    background-color: #1a0321;
    width: 100%;
    height: 100%;
    padding: 5px 5px 5px 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

#Filtros nav select{
    margin: 14px 0;
    cursor: pointer;
    font-family: 'Itim', cursive;
    font-weight: 400;
}

#Filtros nav > div {
    margin: 5px 0;
    width: 125px;
} 



#Filtros div > input,label{
    cursor: pointer;
    transition: all 1s;

}



#Filtros button {
    background-color: #1a0321;
    border: none;
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(238, 225, 202);
    font-size: 14px;
    line-height: 1.1;
    font-family: 'Itim', cursive;

}

#Filtros button > img{
    width: 25px;    
    cursor: pointer;
    transition: all 1s;
}

#Filtros button span{
    font-weight: 200 !important;
    font-family: 'Itim', cursive;
}


.adminFiltros{
    transform: translate(-180px);
}

.adminFiltros #arrow{
    transform: rotate(180deg);
}


#Filtros nav div div > input{
    appearance: none;
    width: 75px;
    border-radius: 10px;
    border: 2px solid rgba(27, 27, 27, 0.753);
    display: flex;
    flex-direction: column;
}


#Filtros nav div >div{
    margin: 0;
    display: flex;
}

#Filtros nav div label{
    font-family: 'Itim', cursive;

    font-weight: 400;
    font-size: 13px;
}

#Filtros span{
    font-family: 'Itim', cursive;
    font-weight: 200;
}


#spanHealthScore{
    line-height: 0.2;
    font-size: 40px;
    margin-right: 1px;
}
#spanHealthScore2{
    font-size: 30px;
    line-height: 0.5;
}

.spanAZ{
    font-size: 12px;
    margin: 2px 2px;
}





.noSaludable{
    background-color: rgba(255, 0, 0, 0.801) !important;
}

.saludable{
    background-color: rgba(0, 128, 0, 0.815) !important;
}

#rangeBlue{
    background-color: rgba(194, 0, 152, 0.863);
}

